### Домашнее задание к лекции "Функции потерь и оптимизация"
* Прочитать про методы оптимизации для нейронных сетей https://habr.com/post/318970/  
* Реализовать самостоятельно логистическую регрессию  
* Обучить ее:  
- Методом градиентного спуска  
- Методом nesterov momentum  
- Методом rmsprop  
В качестве dataset’а взять Iris, оставив 2 класса:  
Iris Versicolor  
Iris Virginica

In [1]:
import numpy as np
import pandas as pd
import pandas as np
from pandas import DataFrame
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
%matplotlib inline
from jupyterthemes import jtplot
jtplot.style()

In [2]:
from sklearn.datasets import load_iris

In [3]:
data = load_iris()

In [4]:
print("Названия классов: {}".format(data['target_names']))

Названия классов: ['setosa' 'versicolor' 'virginica']

In [5]:
print("Названия признаков: \n{}".format(data['feature_names']))

Названия признаков:
['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [6]:
print("Классы:\n{}".format(data['target']))

Классы:
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

In [138]:
print("Классы:\n{}".format(data['target']))

Классы:
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

In [92]:
df = pd.read_csv('iris.csv')  
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [51]:
df.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [129]:
df_f = pd.read_csv('iris.csv', index_col = "variety")  
df_f.head()

         sepal.length  sepal.width  petal.length  petal.width
variety
Setosa            5.1          3.5           1.4          0.2
Setosa            4.9          3.0           1.4          0.2
Setosa            4.7          3.2           1.3          0.2
Setosa            4.6          3.1           1.5          0.2
Setosa            5.0          3.6           1.4          0.2

In [130]:
df_f.drop(["Setosa"], inplace = True)
df_f.head()

            sepal.length  sepal.width  petal.length  petal.width
variety
Versicolor           7.0          3.2           4.7          1.4
Versicolor           6.4          3.2           4.5          1.5
Versicolor           6.9          3.1           4.9          1.5
Versicolor           5.5          2.3           4.0          1.3
Versicolor           6.5          2.8           4.6          1.5

In [133]:
df_f.keys

<bound method NDFrame.keys of             sepal.length  sepal.width  petal.length  petal.width
variety
Versicolor           7.0          3.2           4.7          1.4
Versicolor           6.4          3.2           4.5          1.5
Versicolor           6.9          3.1           4.9          1.5
Versicolor           5.5          2.3           4.0          1.3
Versicolor           6.5          2.8           4.6          1.5
...                  ...          ...           ...          ...
Virginica            6.7          3.0           5.2          2.3
Virginica            6.3          2.5           5.0          1.9
Virginica            6.5          3.0           5.2          2.0
Virginica            6.2          3.4           5.4          2.3
Virginica            5.9          3.0           5.1          1.8

[100 rows x 4 columns]>

In [134]:
df_f.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    100.000000   100.000000    100.000000   100.000000
mean       6.262000     2.872000      4.906000     1.676000
std        0.662834     0.332751      0.825578     0.424769
min        4.900000     2.000000      3.000000     1.000000
25%        5.800000     2.700000      4.375000     1.300000
50%        6.300000     2.900000      4.900000     1.600000
75%        6.700000     3.025000      5.525000     2.000000
max        7.900000     3.800000      6.900000     2.500000

In [7]:
# как вариант для удобства работы:
iris = DataFrame(data.data)

# Делаю имена колонок такие же, как имена переменных:
iris.columns = data.feature_names

# Добавляю столбец с целевой переменной: 
iris['target'] = data.target

# Для наглядности - столбец с наименованием классов: 
iris['sort_iris'] = iris.target.apply(lambda x : data.target_names[x])

iris

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,sort_iris
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

In [8]:
iris_w = iris.iloc[50:]

In [9]:
iris_w

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,sort_iris
50,7.0,3.2,4.7,1.4,1,versicolor
51,6.4,3.2,4.5,1.5,1,versicolor
52,6.9,3.1,4.9,1.5,1,versicolor
53,5.5,2.3,4.0,1.3,1,versicolor
54,6.5,2.8,4.6,1.5,1,versicolor
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

In [10]:
iris_w.sort_iris.value_counts()

virginica     50
versicolor    50
Name: sort_iris, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
from sklearn.linear_model import LogisticRegression

In [188]:
lr = LogisticRegression()

In [11]:
# оставляю признаки и выделяю целевую
X = iris_w[['sepal length (cm)','sepal width (cm)','petal length (cm)', 'petal width (cm)' ]]
y = iris_w['target']

In [194]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [195]:
X_train.shape, X_test.shape

((70, 4), (30, 4))

In [196]:
lr.fit(X_train, y_train )

LogisticRegression()

In [197]:
lr.score(X_train, y_train )

0.9714285714285714

In [198]:
lr.score(X_test, y_test)

0.9333333333333333

### Метод градиентного спуска

In [13]:
# использую фильтр на 2 признака (1 'versicolor' 2 'virginica' )
X,y = load_iris(return_X_y = True)
filter = y != 0              
X = X[filter]
y = y[filter]

In [14]:
y

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [15]:
import random

In [16]:
# генерация случайных коэффициентов и далее логистическая регрессия

coefs = random.randint(5,10)   

def predict_proba(coefs, X):
    return 1. / (1. + np.exp( -(X.dot(coefs[:4]) + coefs[-1]) ) )

In [14]:
# делаю на основе модели предсказание класса 

def predict_class(coefs, X):
  probas = predict_proba(coefs, X)
  return (probas > 0.5).astype(np.float)

In [15]:
# прописываю функцию потерь на основе формулы

def bce_loss(coefs, X, y):
  probas = predict_proba(coefs, x)
  filter_ones = y == 1
  loss = -1. * (np.sum(np.log(probas[filter_ones])) + np.sum(np.log(1. - probas[~filter_ones]))) / len(y)
  return loss

In [16]:
# расчет градиента исходя из двух сущностей: модели и функции потерь

def grad(coefs, X, y):
  probas = predict_proba(coefs, X)
  delta = probas - y
  modified_x = x.T * delta
  deltas = np.mean(modified_x, axis=1)
  return deltas, np.mean(delta)

In [17]:
# обучение модели методом градиентного спуска

def learn_sgd(coefs, X, y, num_epochs=20, learning_rate=0.0001):
  losses = []
  for e in range(num_epochs):
    grad_coefs, grad_bias = grad(coefs, X, y)
    coefs[:-1] = coefs[:-1] - learning_rate * grad_coefs
    coefs[-1] = coefs[-1] - learning_rate * grad_bias
    loss = bce_loss(coefs, X, y)
    losses.append(loss)
  return losses, coefs

In [21]:
# обучение модели методом nesterov momentum

def nesterov_momentum(X, gamma, learning_rate=0.25):
    Y = []
    v = 0
    for i in range(len(X)):
        v = gamma*v + learning_rate*(linear_interpolation(X, i+gamma*v) if i+gamma*v < len(X) else 0)
        Y.append(v)
    return np.asarray(Y)

In [22]:
# обучение модели методом RMSProp

def RMSProp(X, gamma, learning_rate=0.25, eps=0.00001):
    Y = []
    EG = 0
    for x in X:
        EG = gamma*EG + (1-gamma)*x*x
        v = learning_rate/np.sqrt(EG + eps)*x
        Y.append(v)
    return np.asarray(Y)